@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500,600,700");
@font-face {
  font-family: freshmarker;
  src: url(../fonts/freshmarker.ttf);
}

/* *********************
   General
  ********************* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*
::selection {
  background: #fff404;
}
*/
body {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  color: black;
  background-color: white;
  font-size: 2vw;
}

@media (max-width: 1500px) {
  body {
    font-size: 30px;
  }
}

@media (min-width: 3000px) {
  body {
    font-size: 60px;
  }
}

.wrapper {
  padding: 20px;
}

.wrapper.about {
  padding-bottom: 40vh;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  color: black;
}

.group {
  margin: 1em 0;
}

.group .title {
  font-size: inherit;
  font-weight: 400;
}

.list .item {
  display: inline;
  list-style: none;
}

.list .item:not(:last-child) .link:after {
  content: ",";
}