@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow:400,500,600,700");
@font-face {
  font-family: freshmarker;
  src: url(../fonts/freshmarker.ttf);
}

/* *********************
   General
  ********************* */

.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #a3d5c6;
    height: calc(100vh + 2.5rem);
    -webkit-transform: translate3d(0,-100vh,0);
    transform: translate3d(0,-100vh,0);
    -webkit-transition: background .5s;
    transition: background .5s;
    opacity: .95;
}

@media (min-width: 40rem) {
    .header {
        height:calc(100vh + 3rem);
    }
}

.header__link {
    -webkit-transition: .6s;
    transition: .6s;
    cursor: pointer;
    line-height: 1.4;
}

.header__link a {
    text-decoration: none;
    color: #ff6157;
}

.header__link--name {
    position: absolute;
    left: 50%;
    color: #ff6157;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.nav {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    background-color: #a3d5c6;
    height: 2.5rem;
    display: flex;
    -webkit-transition: background .5s;
    transition: background .5s;
    opacity: .95;
}

@media (min-width: 40rem) {
    .nav {
        height:3rem;
    }
}

.nav:before {
    content: "";
    position: absolute;
    z-index: 1000;
    display: block;
    left: 0;
    width: 100%;
    bottom: 100%;
    height: 1000px;
    background: var(--headercolor);
    -webkit-transition: background .5s;
    transition: background .5s;
}

.nav__inner.inner {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5vw;
}

.email {
  color: #ff6157
}

.footer {
    position: fixed;
    z-index: 10000;
    width: 100%;
    background-color: #ff6157;
    padding: .5em 0;
    bottom: 0;
    left: 0;
    opacity: .95;
}

.footer:after {
    content: "";
    position: absolute;
    z-index: 1000;
    display: block;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1100px;
    background-color: var(--footercolor);
}

.footer__inner.inner {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.footer__link {
    color: #000;
    text-decoration: none;
    opacity: .5;
    font-weight: 400;
}

.footer__link:active,.footer__link:hover {
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.footer__link.active {
    opacity: 1;
}

@font-face {
    font-family: GT America;
    font-display: auto;
    src: url(/static/GT-America-Standard-Light-b3ebd5752a36c81c0f8102da26a8ef01.woff2) format("woff2"),url(/static/GT-America-Standard-Light-8d16a9bf80df5e37fdd6632f14f217f5.woff) format("woff");
}

a,body,h2,p {
    font-family: GT America,sans-serif;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #a3d5c6;
}

.size--1 {
    font-family: GT America,sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.3;
}

@media (min-width: 40rem) {
    .size--1 {
        font-size:2rem;
        font-size: 2.5rem;
    }
}

.size--2 {
  font-family: GT America,sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  color: #ff6157;
}

@media (min-width: 40rem) {
    .size--2 {
      font-size:2rem;
      font-size: 2.5rem;
    }
}

.inner {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {
    display: block;
}

audio,canvas,progress,video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],template {
    display: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,strong {
    font-weight: inherit;
    font-weight: bolder;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

code,kbd,pre,samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

button,input,optgroup,select,textarea {
    font: inherit;
    margin: 0;
}

optgroup {
    font-weight: 700;
}

button,input {
    overflow: visible;
}

button,select {
    text-transform: none;
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

textarea {
    overflow: auto;
}

html {
    font: 112.5%/1.45em georgia,serif;
    box-sizing: border-box;
}

*,:after,:before {
    box-sizing: inherit;
}

body {
    color: rgba(0,0,0,.9);
    font-family: georgia,serif;
    font-weight: 400;
    word-wrap: break-word;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    -ms-font-feature-settings: "kern","liga","clig","calt";
    -webkit-font-feature-settings: "kern","liga","clig","calt";
    font-feature-settings: "kern","liga","clig","calt";
}

img {
    max-width: 100%;
    padding: 0;
    margin: 0 0 1.45rem;
}

h1 {
    font-size: 2.25rem;
}

h1,h2 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h2 {
    font-size: 1.62671rem;
}

h3 {
    font-size: 1.38316rem;
}

h3,h4 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: .85028rem;
}

h5,h6 {
    padding: 0;
    margin: 0 0 1.45rem;
    color: inherit;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
}

h6 {
    font-size: .78405rem;
}

hgroup {
    padding: 0;
    margin: 0 0 1.45rem;
}

ol,ul {
    padding: 0;
    margin: 0 0 1.45rem 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}

dd,dl,figure,p {
    padding: 0;
    margin: 0 0 1.45rem;
}

pre {
    margin: 0 0 1.45rem;
    font-size: .85rem;
    line-height: 1.42;
    background: rgba(0,0,0,.04);
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    padding: 1.45rem;
}

table {
    font-size: 1rem;
    line-height: 1.45rem;
    border-collapse: collapse;
    width: 100%;
}

fieldset,table {
    padding: 0;
    margin: 0 0 1.45rem;
}

blockquote {
    padding: 0;
    margin: 0 1.45rem 1.45rem;
}

form,iframe,noscript {
    padding: 0;
    margin: 0 0 1.45rem;
}

hr {
    padding: 0;
    margin: 0 0 calc(1.45rem - 1px);
    background: rgba(0,0,0,.2);
    border: none;
    height: 1px;
}

address {
    padding: 0;
    margin: 0 0 1.45rem;
}

b,strong {
    font-weight: 400;
}

dt,th {
    font-weight: 700;
}

li {
    margin-bottom: .725rem;
}

ol li,ul li {
    padding-left: 0;
}

li>ol,li>ul {
    margin-left: 1.45rem;
    margin-bottom: .725rem;
    margin-top: .725rem;
}

blockquote :last-child,li :last-child,p :last-child {
    margin-bottom: 0;
}

li>p {
    margin-bottom: .725rem;
}

code,kbd,samp {
    font-size: .85rem;
    line-height: 1.45rem;
}

abbr,abbr[title],acronym {
    border-bottom: 1px dotted rgba(0,0,0,.5);
    cursor: help;
}

abbr[title] {
    text-decoration: none;
}

td,th,thead {
    text-align: left;
}

td,th {
    border-bottom: 1px solid rgba(0,0,0,.12);
    font-feature-settings: "tnum";
    -moz-font-feature-settings: "tnum";
    -ms-font-feature-settings: "tnum";
    -webkit-font-feature-settings: "tnum";
    padding: .725rem .96667rem calc(.725rem - 1px);
}

td:first-child,th:first-child {
    padding-left: 0;
}

td:last-child,th:last-child {
    padding-right: 0;
}

code,tt {
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
    font-family: SFMono-Regular,Consolas,Roboto Mono,Droid Sans Mono,Liberation Mono,Menlo,Courier,monospace;
    padding: .2em 0;
}

pre code {
    background: none;
    line-height: 1.42;
}

code:after,code:before,tt:after,tt:before {
    letter-spacing: -.2em;
    content: " ";
}

pre code:after,pre code:before,pre tt:after,pre tt:before {
    content: "";
}

@media only screen and (max-width: 480px) {
    html {
        font-size:100%;
    }
}

.close {
    position: absolute;
    z-index: 100;
    top: .1em;
    right: 0;
    background: none;
    border: none;
    text-indent: -999rem;
    width: 1em;
    height: 1em;
    pointer-events: none;
    padding: 0;
    opacity: .5;
}

.opened:active .close,.opened:hover .close {
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.close:after,.close:before {
    content: "";
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 0;
    display: block;
    width: 1.2em;
    height: 2px;
    background: #000;
    -webkit-transform-origin: center;
    transform-origin: center;
}

.close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (min-width: 40rem) {
    .close:after,.close:before {
        height:3px;
    }
}

.company {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #000;
}

.company__head {
    cursor: pointer;
    margin: .25em 0;
    position: relative;
    padding: 0 2rem 0 0;
    overflow-wrap: normal;
}

.company__head a {
    text-decoration: none;
    color: rgba(0,0,0,.9);
    opacity: .90;
}

.company__body {
    overflow: hidden;
}

.company__body__inner {
    padding: 1em 0;
}

.company__contact {
    margin: -1em 0 0;
}

.company__text+.company__contact {
    margin: 1em 0 0;
}

.company__link {
    margin: 0 0 16px;
}

.company__link,.company__link__a {
    display: block;
    color: #000;
    text-decoration: none;
}

.company__link__a {
    opacity: .5;
}

.company__link__a:active,.company__link__a:hover {
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.company__link__span {
    opacity: .5;
}

.company__text--fr {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.about {
    position: relative;
    z-index: 200;
    padding: 20vh 0;
}

@media (min-width: 60rem) {
    .about__inner.inner {
        flex-direction:row;
        align-items: baseline;
    }
}

.about__main {
    flex-grow: 1;
    padding: 0 0 10vh;
}

@media (min-width: 40rem) {
    .about__main {
        padding:0 5vw 0 0;
    }
}

.about__text--fr {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.about__main a,.imprint a {
    color: #000;
    text-decoration: none;
    opacity: .5;
}

.about__main a:active,.about__main a:hover,.imprint a:active,.imprint a:hover {
    opacity: 1;
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
}

.about__side {
    min-width: 17.5rem;
}

.imprint {
    min-width: 20rem;
    flex-grow: 1;
}

@media (min-width: 50rem) {
    .imprint {
        padding-right:2rem;
    }
}

.data {
    flex-grow: 2;
}

